{% extends 'core/base.html' %} {% block title %}Home - FART{% endblock %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">FART</h1>
    <p class="lead">Fucking Awesome Reporting Toolkit</p>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote">
                <p class="mb-0 ">{{ quote.quote }}</p>
                <footer class="blockquote-footer">{{ quote.author }},&nbsp;<cite title="{{quote.cite}}">{{ quote.cite }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <br />
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'core:missions' %}" role="button">Take me to my missions.</a>
    </p>
</div>
{% endblock %}