{% extends 'core/base.html' %}

{% block title %}Missions - FART{% endblock %}

{% block pre-content %}
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'core:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Missions</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div class="container-flex">
    <h1 class="display-4">
        Missions&nbsp;
        <a class="btn btn-primary float-right" href="#" /><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;New</button></a>
    </h1>
    
    
</div>
    {% if missions %}
        <table class="table table-striped table-hover">
            <colgroup>
                <col span="1" style="width: 1px">
                <col span="1">
                <col span="1">
                <col span="1" style="width: 1px">
                <col span="1" style="width: 1px">
            </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th scope="col" item-width="20px">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Created</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for mission in missions %}
                <tr>
                    <th scope="row" style="vertical-align:middle">{{ mission.id }}</th>
                    <td style="vertical-align:middle"><a href="{% url 'core:tests' mission.id %}"><strong>{{ mission.mission_title }}</strong></a></td>
                    <td style="vertical-align:middle"><em>{{ mission.mission_description }}</em></td>
                    <td class="text-nowrap" style="vertical-align:middle"><small>{{ mission.create_date }}</small></td>
                    <td style="vertical-align:middle">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a class="btn btn-primary" href="{% url 'core:mission_edit' mission.id %}" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                            <a class="btn btn-info" href="#" data-toggle="tooltip" title="Copy"><i class="fa fa-copy"></i></a>
                            <a class="btn btn-danger" href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </tbody>
        {% if missions.has_other_pages %}
            <nav aria-label="Missions page navigation">
                <ul class="pagination justify-content-center">
                    {% if missions.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ missions.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% for page in missions.paginator.page_range %}
                        <li class="page-item {% ifequal page missions.number %}active{% endifequal %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    {% if missions.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ missions.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>No missions are available.</p>
    {% endif %}
{% endblock %}